[submodule "nginx-configparser"]
	path = nginx-configparser
	url = https://github.com/HenryChen-CH/nginx-configparser.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
